<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ global_title + after_title }}</title>
    <link rel="icon" href="{{ position }}static/files/images/bookmeister.ico" type="image/x-icon">
    <link href="{{ position }}static/styles.css" rel="stylesheet">
    <link href="{{ position }}static/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header style="padding: 10px 20px">
        <div>
            <div style="height: 50px" class="pull-left">
                <span>{# <img src="{{ position }}static/files/images/logo.png" alt="{{ global_title }}: " height="40px"> #}{{ global_title }}: </span>
                <a name="nav" href={{ url_for('index') }}><i class="fa fa-home"></i> home</a>
            </div>
            <div style="height: 50px" class="pull-right">
                {% if current_user.is_anonymous %}
                    <a name="nav" href="{{ url_for('login') }}"><i class="fa fa-lock"></i> login</a>
                {% else %}
                    <span style="height: 50px">Hello, {{ current_user }}! </span>
                    <span style="height: 50px"><a name="nav" href="{{ url_for('user') }}"><i class="fa fa-user"></i> account</a></span>
                    <span style="height: 50px"><a name="nav" href="{{ url_for('cart') }}"><i class="fa fa-shopping-cart"></i> cart</a></span>
                    <span style="height: 50px"><a name="nav" href="{{ url_for('logout') }}"><i class="fa fa-power-off"></i> logout</a></span>
                {% endif %}
            </div>
        </div>
    <br>
    </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    <br>
    {% block content %}{% endblock %}
    <footer style="padding: 20px; text-align: center; margin-top: 20px">
        <a name="nav" href={{ url_for('terms_of_use') }}>terms of use</a>
        <a name="nav" href={{ url_for('privacy_policy') }}>privacy policy</a>
    </footer>
</body>
</html>