{% extends 'base.html' %}
{% block content %}
        <h1>TERMS OF USE</h1>
        <h2>Definitions</h2>
        <ol>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Donec odio. Quisque volutpat mattis eros.</li>
            <li>Suspendisse urna nibh, viverra non.</li>
            <li>Donec nec justo eget felis facilisis fermentum.</li>
            <li>Aliquam porttitor mauris sit amet orci.</li>
            <li>Aenean dignissim pellentesque felis.</li>
        </ol>
        <h2>§ 1. General</h2>
        <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </li>
            <li>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</li>
            <ol type="a">
                <li>lorem</li>
                <li>ipsum</li>
                <li>dolor</li>
                <li>sit</li>
                <li>amet</li>
            </ol>
            <li>Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</li>
            <li>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim
                pellentesque felis.
            </li>
        </ol>
    <h2>§ 2. Lorem ipsum</h2>
{% endblock %}
